.about {
  display: flex;
  flex-direction: column;
  gap: 10rem; /* Gap between the left side and right side or in smaller screen sizes top and bottom */
}

.about__content { /*Display and gap for seperation of content on the right side */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

.about__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.about__hr { /* Horizontal line */
  border-color: var(--clr-slate800);
}

.about__subtitle {
  font-size: var(--size-sm);
  color: var(--clr-slate400);
}

.about__ul-container { /* Default flex is set to row so the 3 items are displayed next to one another */
  display: flex;
}

.about__ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: "\1F4BB"; /* Unicode for computer emoji */
  padding-left: 1em;
  flex: 1; /* Give the list items the remaining full space */
}

.about__list {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.about__list::before { /*Pseudo class to add space before the list items and after the unicode computer bullet points using ::after would add content after the list items */
  content: "";
  margin-left: 0.5em;
}

.about__img {
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .about__title {
    font-size: var(--size-4xl);
  }

  .about__description {
    font-size: var(--size-lg);
  }

  .about__subtitle {
    font-size: var(--size-lg);
  }

  .about__list {
    font-size: var(--size-lg);
  }
}

@media (min-width: 475px) {
  .about {
    gap: 1.5rem;
  }

  .about__content {
    gap: 1.5rem;
  }

  .about__title {
    font-size: var(--size-3xl);
  }

  .about__description {
    font-size: var(--size-base);
  }

  .about__subtitle {
    font-size: var(--size-base);
  }

  .about__list {
    font-size: var(--size-base);
  }
}

@media (min-width: 640px) {
  .about__img-wrapper {
    margin: 0 auto;
  }

  .about__img {
    width: 39rem;
  }
}

@media (min-width: 1280px) {
  .about__title {
    font-size: var(--size-5xl);
  }

  .about__description {
    font-size: var(--size-xl);
  }

  .about__subtitle {
    font-size: var(--size-xl);
  }

  .about__list {
    font-size: var(--size-xl);
  }
}
