.main__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-align: center;
}

.project__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  text-align: center;
  margin: 1rem auto;
}

.project__title {
  font-size: var(--size-base);
  margin-bottom: 1rem;
}

.project__img-wrapper {
  position: relative;
}

.project__img-wrapper::after {
  content: "";
  background-color: rgba(79, 70, 229, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s;
}

.project__img-wrapper:hover::after {
  background-color: rgba(79, 70, 229, 0.3);
}

.project__description1 {
  font-size: var(--size-sm);
  color: var(--clr-slate400);
  margin: 1rem 0;
}
.project__description2 {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  margin-bottom: 1rem;
}

.project__btn {
  font-size: var(--size-sm);
}

.projects:not(:last-child) {
  margin-bottom: 5rem;
}

.projects {
  grid-template-areas:
    "image1 content1"
    "content2 image2"
    "image3 content3"
    "content4 image4"
    "image5 content5"
    'content6 image6'
    'image7 content7';
  place-items: center;
  text-align: center;
}

.project__image1 {
  grid-area: image1;
}
.project__image2 {
  grid-area: image2;
}
.project__image3 {
  grid-area: image3;
}
.project__image4 {
  grid-area: image4;
}
.project__image5 {
  grid-area: image5;
}
.project__image6 {
  grid-area: image6;
}
.project__image7 {
  grid-area: image7;
}
.project__content1 {
  grid-area: content1;
}
.project__content2 {
  grid-area: content2;
}
.project__content3 {
  grid-area: content3;
}
.project__content4 {
  grid-area: content4;
}
.project__content5 {
  grid-area: content5;
}
.project__content6 {
  grid-area: content6;
}
.project__content7 {
  grid-area: content7;
}

.project__text {
  text-align: center;
}

.project_description {
  max-width: 60ch;
  color: var(--clr-slate600);
  font-size: var(--size-sm);
  margin: 1rem 0;
}

.project__subtitle {
  display: none;
}

@media (min-width: 475px) {
  .main__title {
    font-size: var(--size-3xl);
  }

  .project__description {
    font-size: var(--size-base);

    margin: 1.5rem auto;
  }
  .project__title {
    font-size: var(--size-lg);
    margin-bottom: 1.5rem;
  }
  .project__description1 {
    font-size: var(--size-base);
    margin: 1.5rem 0;
  }
  .project__description2 {
    font-size: var(--size-base);
    margin-bottom: 1.5rem;
  }
  .project__btn {
    font-size: var(--size-base);
  }
}

@media (min-width: 640px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .project__title {
    display: none;
  }
  .project__description1 {
    font-size: var(--size-xs);
    margin: 1em 0;
  }
  .project__description2 {
    font-size: var(--size-xs);
    margin-bottom: 1em;
  }
  .project__btn {
    font-size: var(--size-xs);
  }
  .projects:not(:last-child) {
    margin-bottom: 0;
  }
  .project__subtitle {
    display: block;
    font-size: var(--size-base);
  }
  .project__text {
    padding: 0 1rem;
  }
}

@media (min-width: 768px) {
  .project__description1 {
    font-size: var(--size-sm);
  }
  .project__description2 {
    font-size: var(--size-sm);
  }
  .project__btn {
    font-size: var(--size-sm);
  }
  .project__subtitle {
    font-size: var(--size-lg);
  }
}

@media (min-width: 1024px) {
  .main__title {
    font-size: var(--size-4xl);
  }

  .project__description {
    font-size: var(--size-lg);
  }
  .project__description1 {
    font-size: var(--size-base);
  }
  .project__description2 {
    font-size: var(--size-base);
  }
  .project__btn {
    font-size: var(--size-base);
  }
  .project__subtitle {
    font-size: var(--size-xl);
  }
}

@media (min-width: 1280px) {
  .main__title {
    font-size: var(--size-5xl);
  }

  .project__description {
    font-size: var(--size-xl);

    margin: 2rem auto;
  }
  .project__description1 {
    font-size: var(--size-lg);
  }
  .project__description2 {
    font-size: var(--size-lg);
  }
  .project__btn {
    font-size: var(--size-lg);
  }
  .project__subtitle {
    font-size: var(--size-2xl);
  }
  .projects {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1536px) {
  .projects {
    width: 70%;
  }
}
